root=true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.{rs, py, md}]
indent_size = 4

[*.{yml, html, css, js, ts}]
indent_size = 2
