# OasysDB.
data

# Rust stuff.
debug
target

# Python stuff.
__pycache__
.pytest_cache
.venv
*.so
*.py[cod]

# Benchmarking.
*.ivecs
*.fvecs

# Misc.
.vscode
.ds_store

# Environment variables.
.env
.env.*
!.env.example
