[package]
name = "oasysdb"
version = "0.2.1"
edition = "2021"
license = "Apache-2.0"
readme = "readme.md"

# Information.
authors = ["Edwin Kys", "Oasys"]
description = "Fast embedded vector database with incremental HNSW indexing."
homepage = "https://oasysai.com/"
repository = "https://github.com/oasysai/oasysdb"

# Metadata.
keywords = ["embedded", "vector", "database", "hnsw", "ann"]
categories = ["database", "algorithms", "embedded"]

# For PyO3 and Maturin.
[lib]
name = "oasysdb"
crate-type = ["lib", "cdylib"]

[dependencies]
sled = "0.34.7"

# Utilities.
rayon = "1.8.0"
parking_lot = "0.12.1"
ordered-float = "4.2.0"
rand = "0.8.5"

# Serialization.
serde = { version = "1.0.193", features = ["derive"] }
serde-big-array = "0.5.1"
bincode = "1.3.3"

# Interoperability.
pyo3 = "0.20.2"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
tokio = { version = "1.5.0", features = ["rt-multi-thread"] }
curl = "0.4.44"
byteorder = "1.5.0"

# File compression.
tar = "0.4.40"
flate2 = "1.0.28"

# Memory management.
jemallocator = "0.5.4"
jemalloc-ctl = "0.5.4"

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1

[[bench]]
name = "benchmark"
path = "bench/main.rs"
harness = false
