[package]
name = "oasysdb"
version = "0.1.0-beta.4"
edition = "2021"
license = "Apache-2.0"
readme = "readme.md"

# Information.
authors = ["Edwin Kys", "Oasys"]
description = "Fast embedded vector database with incremental HNSW indexing."
homepage = "https://oasysai.com/"
repository = "https://github.com/oasysai/oasysdb"

# Metadata.
keywords = ["embedded", "vector", "database", "hnsw", "ann"]
categories = ["database", "algorithms", "embedded"]

[dependencies]
sled = "0.34.7"

# Utilities.
rayon = "1.8.0"
parking_lot = "0.12.1"
ordered-float = "4.2.0"
rand = "0.8.5"

# Serialization.
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serde-big-array = "0.5.1"
bincode = "1.3.3"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
byteorder = "1.5.0"

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1

[[bench]]
name = "benchmark"
path = "bench/main.rs"
harness = false
