name: Quality check and testing

# Summary of the workflow
# For every push to the main branch or any pull request:
# 1. Run cargo check: A fast way to check for build errors.
# 2. Run cargo fmt: Check if the code is formatted correctly.
# 3. Run cargo clippy: Check linting to improve code quality.
# 4. Run cargo test: Run all tests.

on:
  pull_request:
  push:
    branches:
      - main

env:
  TOOLCHAIN: stable
  PROFILE: minimal

jobs:
  run-check:
    name: Run check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: ${{ env.PROFILE }}
          toolchain: ${{ env.TOOLCHAIN }}
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  rustfmt-format:
    name: Format style with Rustfmt
    needs: [run-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: ${{ env.PROFILE }}
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
          components: rustfmt

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy-lint:
    name: Lint code with Clippy
    needs: [run-check, rustfmt-format]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: ${{ env.PROFILE }}
          toolchain: ${{ env.TOOLCHAIN }}
          override: true
          components: clippy

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  run-tests:
    name: Run all tests
    needs: [rustfmt-format, clippy-lint, run-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: ${{ env.PROFILE }}
          toolchain: ${{ env.TOOLCHAIN }}
          override: true

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
